<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
  <test name="Test Basics 1">
      <classes>
		  <class name="com.rg.main.Testbase"/>
      <class name="com.org.pages.loginpage"/>
      <class name="com.org.tests.Loginpagetest"/>
      <class name="com.org.pages.settingspage"/>
      <class name="com.org.tests.overviewtest"/>

      </classes>

   
  
     
  </test> <!-- Test -->
</suite> <!-- Suite -->